/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.hero {
  h1 {
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    margin-top: 120px;
    letter-spacing: -0.430769px;
    color: #36536b;
  }

  &__plans {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 100px;
    margin-top: 150px;

    .free__plan {
      h3 {
        font-family: "DM Serif Display";
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.246154px;
        color: #ba4270;
      }
      p {
        font-family: "Public Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 28px;
        width: 300px;
        margin-top: 16px;
        color: #6c8294;
      }
      h4 {
        font-family: "DM Serif Display";
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 72px;
        letter-spacing: -0.430769px;
        color: #36536b;
      }
      hr {
        width: 300px;
        background: #36536b;
        mix-blend-mode: normal;
        opacity: 0.25;
      }
      ul {
        margin-top: 20px;
        font-family: "Public Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #36536b;

        li {
          margin-top: 10px;
        }
      }
      img {
        position: absolute;
        margin-left: -20px;
        margin-top: 10px;
      }
      .img2 {
        margin-top: 20px;
      }
      .img3 {
        margin-top: 20px;
      }
      span {
        margin-top: 20px;
        font-family: "Public Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #36536b;
        opacity: 0.5;
      }
      hr {
        margin-top: 20px;
        margin-bottom: 50px;
      }
      a {
        border: 1px solid #36536b;
        border-radius: 24px;
        padding: 16px 28px;
        font-family: "Public Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.115385px;
        color: #36536b;
      }
      a:hover {
        background: #36536b;
        color: #fff;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s;
      }
    }
  }
}
